html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}


.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;
  position: absolute;
  /*transition: all 500ms ease-in-out;*/
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
  position: absolute;
  bottom: 1.2em;
  left: 5em;
}

.polaroid:first-child {
  top: 20%;
  left: 30%;
  transform: rotate(-20deg);
}

.polaroid:nth-child(2) {
  top: 30%;
  left: 40%;
  transform: rotate(10deg);
  z-index: 3;
}

.polaroid:last-child {
  top: 20%;
  left: 50%;
  z-index: 1000;
  transform: rotate(30deg);
}
